@import url(http://fonts.googleapis.com/css?family=Fontdiner+Swanky);

p {
  display: inline-block;
  color: black;
  text-indent: .5em;
}
body {
  background-color: #ef6c1f;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Fontdiner Swanky";
}

button {
  border-radius: 15px;
}